body {
  font-family: "Open Sans", sans-serif;
  width: 1110px;
  margin: 0 auto;
}

clearfix::after {
  display: table;
  content: "";
  clear: both;
}
/*page header*/
.page-header {
  padding: 30px 0 30px 0;
  margin-bottom: 110px;
}
/* logo*/
h1 {
  float: left;
  color: #555252;
  font-family: "Roboto light", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

h1::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

/* site-navigation*/
.site-navigation {
  float: right;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;

  color: #0f0101;
  text-transform: uppercase;
  height: auto;
}

.site-navigation li {
  float: left;
  transform: translateY(25%);
}

.site-navigation li:not(:last-child) {
  margin-right: 30px;
}

li:hover {
  color: #1abc9c;
}

h2 {
  font-family: "Roboto black", sans-serif;
  font-size: 48px;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
}
h2::after {
  content: "";
  display: block;
  margin: 32px auto 80px auto;
  background: #1abc9c;
  height: 8px;
  width: 165px;
  left: 25%;
}
/*featured products*/
.gallery {
  overflow: hidden;
  margin-bottom: 105px;
}

.gallery-item {
  float: left;
  margin-right: 29.3px;
  margin-bottom: 30px;
  width: 254px;
  display: block;
  background: #e9f0fd;
}

.gallery-item:nth-of-type(4n) {
  margin-right: 0;
}

.gallery-item img {
  display: block;
  object-fit: contain;
  padding: 10px;
}
.gallery-item p,
h4 {
  background-color: #323232;
  font-family: "Roboto black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
  display: inline-block;
  width: 200px;
  padding: 12px;
}

.gallery-item p:last-child {
  float: right;
  width: 54px;
  background: rgba(0, 0, 0, 0.44);
}

.gallery-item:hover h4,
p {
  background-color: #1abc9c;
}

.gallery-item:hover p:last-child {
  background-color: #7fd9c7;
}

/*latest news*/

.news {
  float: left;
  width: 350px;
  margin: 0 30px 15px 0;
  padding: 0;
}
.blog article:last-child {
  margin-right: 0;
}
h3 {
  font-weight: 600;
  font-size: 18px;
  color: #555252;
  margin-bottom: 14px;
}
h3::after {
  content: "";
  display: block;
  background: #1abc9c;
  height: 3px;
  width: 136px;
  margin: 15px auto 30px 0;
}
button {
  width: 160px;
  height: 50px;
  color: #e9f0fd;
  background: #1abc9c;
  font-size: 16px;
}

.news p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #555252;
  background: none;
  margin-bottom: 30px;
}
.news img {
  display: block;
  object-fit: cover;
  margin-bottom: 14px;
}
