/* задаём общие стили для большинства повторяющихся элементов*/
body, p, button{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #626262;
}
/* обёртка всей страницы*/
.wrapper{
    width: 900px;
    margin: 0 auto;
}
/*центрируем главное меню*/
.navigation ul{
    text-align: center;
     
}
/*отображаем пункты в строку, задаём верхний кегль тексту, 
создаём отступы*/
.navigation li{
        display: inline-block;
        text-transform: uppercase;
        margin-top: 75px;
        margin-right: 100px;
        margin-bottom: 100px;
}
/* убираем отступ справа у последнего пункта*/
.navigation li:last-child{
    margin-right: 0;
}
/*меняем цвет текста в меню при наведении на него*/
.navigation li a:hover{
    color: #03a9f4;
}
/* создём обёртку для основного блока страницы*/
.post-block{
       font-size: 0px;
       margin: 0 auto;
    }
 /*отдельно задаём параметры для статей*/
 
.post{
    
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 130px;
   }
 .post h2 {
    font-size: 29px;
    font-weight: 400;
    margin-bottom: 34px;
}

.post:nth-child(even) {
    margin-right: 0;
}
.post:nth-last-child(-n+2){
    margin-bottom: 55px;
}

.post img{
    display: block;
    width: 100%;
    margin-bottom: 36px;
}
.category {
    font-family: 'Ubuntu';
    font-size: 14px;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 28px;
    }
.btn-more {
    width: 164px;
    height: 60px;
    display:block; 
    margin:0 auto;
    margin-bottom: 75px;
    font-size: 20px;
    border: 1px solid;
}